body {
    background-color: lightcoral;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p, h1, h2, h3, li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.05rem;
}

p, h1, h2, h3 {
    padding-left: 1rem;
}


nav {
    display: flex;
    background-color: lightpink;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    background-color: black;
    display: flex;
    justify-content: left;
    margin-top: auto;
}

footer p {
    color: lightcoral;
    padding: 1rem;
    font-weight: bold;
}

div {
    display: grid;
    justify-content: center;
    background-color: lightpink;
    text-align: center;
    padding: 0;
    margin: 2rem;
}

div h3 {
    font-size: 2rem;
    font-weight: bold;
}

div p {
    font-size: 1rem;
    font-weight: normal;
}

.current {
    color: darkred;
    pointer-events: none;
}